<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
    </head>
    <body>
        <nav>
            <h1>
                <a href="index">Some Planets</a>
            </h1>
            <div class="nav-bar">
                <a href="mercury">Mercury</a>
                <a href="venus">Venus</a>
                <a href="earth">Earth</a>
                <a href="mars">Mars</a>
            </div>
        </nav>