
<% include partials/header.ejs %>

<div class="image-wrapper">
    <figure>
        <img width="100%" src="/imgs/solar-system.jpg" alt="Solar System"/>
    </figure>
</div>

<% include partials/footer.ejs %>