<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>
            <a href="index.html">Hi!</a>
        </h1>
        <div>
            <a href="mercury.html">Mercury</a>
            <a href="venus.html">Venus</a>
            <a href="mars.html">Mars</a>
            
        </div>
    </body>
</html>