
<% include partials/header.ejs %>

<div class="image-wrapper">
    <figure>
        <img width="100%" src="/imgs/venus.jpg" alt="Venus"/>
        <figcaption>
           <p class="caption">
              Venus is the second planet from the Sun and is the second largest terrestrial planet.
              Venus is sometimes referred to as the Earth’s sister planet due to their similar size
              and mass. Venus is named after the Roman goddess of love and beauty.
           </p>
           <a href="https://space-facts.com/venus/">Source</a>
        </figcaption>
    </figure>
</div>

<% include partials/footer.ejs %>